

.DivSearchBar{
    display: flex;
    justify-content: center;
    width: 100vw;
}

.SearchBar{
    height: 20px;
    width: 250px;
    background-color: transparent;
    border: 1px solid  white; /* Quitar el borde */
    box-shadow:0 0 10px white; 
    border-radius: 20px; 
    color: white;
    text-align: center;


    
}
.SearchBar:hover{

    box-shadow:0 0 20px white; 
   
}
.InputButton{

    background-color: white;
    color: rgb(83, 83, 83);
    border: 1px solid  white; /* Quitar el borde */
    box-shadow:0 0 10px white; 
    border-radius: 20px; 
}

.InputButton:hover{

    box-shadow:0 0 20px white; 
}